# Core
streamlit>=1.31.0
pandas>=2.1.0
numpy>=1.26.0

# Visualization
plotly>=5.18.0

# Machine Learning
scikit-learn>=1.4.0

# NLP & Deep Learning (Transformer Models)
torch>=2.2.0
transformers>=4.38.0
sentencepiece>=0.2.0

# Database
python-dotenv>=1.0.1
supabase>=2.3.0

